

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fontawesome.com/kits/aeecb58b9d">
    <link rel="stylesheet" href="./css/headerFooter.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>S!r KayS Portfollio Website</title>

    <style>
        .hide {
            display: none;
        }

      
    </style>
</head>
<body>
   
    <%-include('./partials/header')  %>

    
       

        <div class="main-container">
            <div class="page-info">
                <div class="index-title">
                    <a href="/"class="index-logo" id="index-logo"><i class="fa-solid fa-headphones"></i>sIr-kAyos</a>
           
                </div>
                <div class="index-paragraph">
                    <p class="main-paragraph">New Era view...  </p>
                    <p class="main-paragraph">...DesIgnIng Done right </p>
                    <p class="main-paragraph">Taking Your Deepest DESIRES... </p>
                    <p class="main-paragraph">....As if Calling YOUr name</p>


                </div> 
              <button class="index-btn">Get Started</button>
               
            </div>

            
            <div class="webpage-container hide"> 
                <ul class="main-webpage-list">
                    <% webPages.forEach((page) =>{ %>
                     <div class="webpage-thumb">
                        <li class="webpage">
                            <img class="webpage-image"  src="./images/<%= page.image  %>" alt="auther"><a href="pages/<%= page.id  %>" class="webpage-link">
                            <%= page.title %>
                        </a></li>

                     </div>
                            
                        
                     
                        
                        
                        <%  }) %>
                </ul>
            
            </div>
        </div>
       
    

        <%-include('./partials/footer')  %>
   

</body>
</html>